pkgbase = cljam-bin
	pkgdesc = A DNA Sequence Alignment/Map (SAM) library for Clojure
	pkgver = 0.8.0
	pkgrel = 1
	url = https://github.com/chrovis/cljam
	arch = x86_64
	license = Apache
	provides = cljam
	conflicts = cljam
	noextract = cljam
	source = https://github.com/chrovis/cljam/releases/download/0.8.0/cljam
	sha256sums = 1090a80b24da12ddff1e003f0eae01c92bcddb38215d66618332ac19d36acf9f

pkgname = cljam-bin
