pkgbase = cljam-bin
	pkgdesc = A DNA Sequence Alignment/Map (SAM) library for Clojure
	pkgver = 0.8.2
	pkgrel = 1
	url = https://github.com/chrovis/cljam
	arch = x86_64
	license = Apache
	provides = cljam
	conflicts = cljam
	noextract = cljam-bin-0.8.2
	source = cljam-bin-0.8.2::https://github.com/chrovis/cljam/releases/download/0.8.2/cljam
	sha256sums = fb01754f670ce9343efafcea69a8fb361e05fa77ca5f96d8ac15701d82ee97d0

pkgname = cljam-bin
